@import 'font';

.user {
	margin-bottom: 16px;
}

.card-img {
	cursor: pointer;
	background: $gray-10;
	width: 504px;
	height: 504px;
	border-radius: 24px;
	margin-bottom: 16px;
	overflow: hidden;
	position: relative;

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		overflow: hidden;
	}
}
.card-content {
	@include text(600, 14px, 20px);
	color: $gray-50;
	margin-bottom: 16px;
}

.card-Mobile {
	.card-img {
		max-width: 366px;
		max-height: 366px;
		padding-top: 100%;
		width: 100%;
		height: 100%;

		img {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
}
