$blue-10: rgb(154, 174, 226);
$blue-50: rgb(68, 106, 204);
$blue-80: rgb(50, 74, 134);

$snow: rgb(253, 253, 253);
$gray-10: rgb(231, 233, 239);
$gray-50: rgb(105, 111, 129);
$gray-100: rgb(41, 48, 66);

$green: rgb(47, 126, 67);
$red: rgb(195, 61, 61);
