@import 'colors';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@mixin text($font-weight, $font-size, $line-height) {
	font-size: #{$font-size};
	font-family: 'Inter', sans-serif;
	line-height: #{$line-height};
	font-weight: #{$font-weight};
}

.text-h2 {
	font-family: 'Inter', sans-serif;
	font-size: 32px;
	line-height: 40px;
	font-weight: 700;
}
.text-l {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	line-height: 24px;
	font-weight: 600;
}
.text-m {
	font-family: 'Inter', sans-serif;
	font-size: 14px;
	line-height: 20px;
	font-weight: 500;
}

.text-blue-50 {
	color: $blue-50;
}
.text-gray-100 {
	color: $gray-100;
}
.text-gray-50 {
	color: $gray-50;
}

$fontlink: '../assets/font/';

@font-face {
	font-family: 'icons';
	src: url($fontlink + 'icons.eot?26588798');
	src: url($fontlink + 'icons.eot?26588798#iefix') format('embedded-opentype'),
		url($fontlink + 'icons.woff2?26588798') format('woff2'),
		url($fontlink + 'icons.woff?26588798') format('woff'),
		url($fontlink + 'icons.ttf?26588798') format('truetype'),
		url($fontlink + 'icons.svg?26588798#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^='icon-']:before,
[class*=' icon-']:before {
	font-family: 'icons';
	font-style: normal;
	font-weight: normal;
	speak: never;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.2em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: 0.2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: '\e800';
}
.icon-search:before {
	content: '\e801';
}
.icon-plus:before {
	content: '\e802';
}
.icon-user:before {
	content: '\e803';
}
.icon-logout:before {
	content: '\e804';
}
.icon-heart:before {
	content: '\e805';
}
.icon-comment:before {
	content: '\e806';
}
.icon-cancel:before {
	content: '\e807';
}
.icon-angle-right:before {
	content: '\f105';
}
