@import 'font';

.input {
	display: flex;
	flex-direction: column;
	label {
		margin-bottom: 8px;
		color: $gray-100;
	}
	input {
		text-overflow: ellipsis;
		max-width: 192px;
		margin-bottom: 48px;
		outline: none;
		border: none;
		background: $gray-10;
		color: $gray-100;
		transition: filter 0.3s ease-in-out;
		&::placeholder {
			color: $gray-50;
		}
		&:hover {
			filter: brightness(96%);
		}
		&:active,
		&:focus {
			border: 1px solid $gray-50;
		}
	}
}

.input-Rounded {
	input {
		border-radius: 100px;
	}
}

.input-Square {
	input {
		border-radius: 4px;
	}
}

.input-Medium {
	label,
	input {
		@include text(500, 14px, 20px);
	}
	input {
		padding: 14px 24px;
	}
}

.input-Small {
	label,
	input {
		@include text(500, 12px, 16px);
	}
	input {
		padding: 8px 16px;
	}
}

.input-Unlabeled {
	label {
		display: none;
	}
}

.input-Labeled {
	label {
		display: inherit;
	}
}
