@import 'font';

.tabbar-Desktop {
	.tab:not(:last-child) {
		margin-bottom: 16px;
	}
	.tab:nth-child(2) {
		display: none;
	}
}

.tabbar-Mobile {
	display: flex;
	justify-content: space-between;
	align-items: center;
	.tab-text {
		display: none;
	}
	.icon-plus::before {
		font-size: 28px;
		color: $snow;
		background-color: $blue-50;
		border-radius: 100%;
		padding: 8px;
	}
}
